In [1]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client.portfolios

In [3]:
db.portfolios.find_one({'_id': '4ad3f122123d4c00a9c49fdae13b1dd4'})

{'_id': '4ad3f122123d4c00a9c49fdae13b1dd4',
 'name': 'porto2023',
 'created_at': datetime.datetime(2025, 5, 4, 11, 19, 54, 224000),
 'end_date': datetime.datetime(2023, 5, 4, 0, 0),
 'capital': 10000,
 'stocks': [{'ticker': 'CME',
   'price': 280.45,
   'weight': 0.10365943658757049,
   'allocated': 841.3499999999999,
   'shares': 3},
  {'ticker': 'CBOE',
   'price': 226.39,
   'weight': 0.09696982174248989,
   'allocated': 905.56,
   'shares': 4},
  {'ticker': 'KMB',
   'price': 130.35,
   'weight': 0.08871739711218611,
   'allocated': 782.0999999999999,
   'shares': 6},
  {'ticker': 'EA',
   'price': 151.1,
   'weight': 0.08148572085195978,
   'allocated': 755.5,
   'shares': 5},
  {'ticker': 'MCD',
   'price': 311.96,
   'weight': 0.07954139349805923,
   'allocated': 623.92,
   'shares': 2},
  {'ticker': 'GIS',
   'price': 55.43,
   'weight': 0.07331009744436356,
   'allocated': 720.59,
   'shares': 13},
  {'ticker': 'KO',
   'price': 71.65,
   'weight': 0.06908099251417722,
   'allocated': 644.85,
   'shares': 9},
  {'ticker': 'HOLX',
   'price': 54.16,
   'weight': 0.06267490955327323,
   'allocated': 595.76,
   'shares': 11},
  {'ticker': 'ABBV',
   'price': 198.47,
   'weight': 0.05987671219299688,
   'allocated': 595.41,
   'shares': 3},
  {'ticker': 'COR',
   'price': 292.12,
   'weight': 0.04950907532970015,
   'allocated': 292.12,
   'shares': 1},
  {'ticker': 'WM',
   'price': 233.94,
   'weight': 0.04513255532797225,
   'allocated': 233.94,
   'shares': 1},
  {'ticker': 'NYT',
   'price': 52.31,
   'weight': 0.04422706833807679,
   'allocated': 418.48,
   'shares': 8},
  {'ticker': 'HSY',
   'price': 163.35,
   'weight': 0.04212436960908824,
   'allocated': 326.7,
   'shares': 2},
  {'ticker': 'ED',
   'price': 110.03,
   'weight': 0.037087600994912484,
   'allocated': 330.09000000000003,
   'shares': 3},
  {'ticker': 'DVA',
   'price': 141.13,
   'weight': 0.024424299724666317,
   'allocated': 141.13,
   'shares': 1},
  {'ticker': 'VST',
   'price': 139.28,
   'weight': 0.023880810066973828,
   'allocated': 139.28,
   'shares': 1},
  {'ticker': 'TAP',
   'price': 57.56,
   'weight': 0.013931392624777378,
   'allocated': 115.12,
   'shares': 2},
  {'ticker': 'TDC',
   'price': 22.07,
   'weight': 0.004366346486756047,
   'allocated': 22.07,
   'shares': 1}],
 'model': 'l2',
 'optimizer': 'ledoit_wolf',
 'notes': 'papa'}

In [3]:
import pandas as pd
import sqlite3
con = sqlite3.connect('model/data/data.db')
prices = pd.read_sql('SELECT date, ticker, close as price FROM prices', con)
prices

                        date ticker       price
0        2007-06-04 00:00:00      A   24.991400
1        2007-06-05 00:00:00      A   24.991400
2        2007-06-06 00:00:00      A   24.926700
3        2007-06-07 00:00:00      A   24.208100
4        2007-06-08 00:00:00      A   24.382500
...                      ...    ...         ...
2378687  2025-04-28 00:00:00    ZTS  153.570007
2378688  2025-04-29 00:00:00    ZTS  155.429993
2378689  2025-04-30 00:00:00    ZTS  156.399994
2378690  2025-05-01 00:00:00    ZTS  155.649994
2378691  2025-05-02 00:00:00    ZTS  157.440002

[2378692 rows x 3 columns]

In [8]:
prices[prices['ticker'].isin(['AAPL', 'MSFT', 'PLTR'])].sort_values(["ticker","date"]).groupby("ticker").tail(1).set_index("ticker")['price']

ticker
AAPL    205.350006
MSFT    435.279999
PLTR    124.279999
Name: price, dtype: float64

In [25]:
sorted(prices.set_index('ticker')['price'].items(), key=lambda x: x[1], reverse=True)

[('MSFT', 102), ('PLTR', 101), ('AAPL', 100)]

## FinViz stats

In [4]:
import aiohttp
import pandas as pd
from io import StringIO

from config import settings


async def get_ticker_info(tickers: list[str]):
    async with aiohttp.ClientSession() as session:
        data = await session.get(
            f'https://elite.finviz.com/export.ashx?v=152&t={",".join(tickers)}&o=-change&c=1,2,3,5,6,7,75,16,82,78,28,38,39,40,41,42,44,46,48,54,65,66&auth={settings.FINVIZ_API_KEY}'
        )
        df = pd.read_csv(
            StringIO(await data.text())
        ).set_index('Ticker')
        return df.to_dict('index')

def get_performance(dataset: pd.DataFrame, weights: dict):
    returns = dataset[weights.keys()].pct_change()
    portfolio_returns = returns.dot(pd.Series(weights))
    return ((1 + portfolio_returns).cumprod() * 100).dropna()